<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
-->
<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Weight</ion-label>
    <ion-input required [(ngModel)]="weight" type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label required [(ngModel)]="gender">Gender</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label required [(ngModel)]="time">Time</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label required [(ngModel)]="bottle">Bottle</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Promilles</ion-label>
    <ion-input required [(ngModel)]="promille" type="number" step="0.01"></ion-input>
  </ion-item>
  <ion-button expand="block" padding="20px" color="primary" (click)="calculate();">Calculate</ion-button>
  <ion-list>
    <ion-item>Blood alcohol level:{{result_f}} </ion-item>
  </ion-list>
  <!--<script>
      function calculate() {

    const weight= parseFloat(document.getElementById('weight').value);
    const gender = parseFloat(document.getElementById('gender').value);
    const time = parseFloat(document.getElementById('time').value);
    const bottle = parseFloat(document.getElementById('bottle').value);
    const promille = parseFloat(document.getElementById('promille').value);
    const liters = bottle * 0.33;
    const grams = liters * 8 * 4.5;
    const burning = weight / 10;
    const grams_left = grams - (burning * time);
    const result_m = grams / (weight * 0.7);
    const result_f = grams / (weight * 0.6);
 
    if (gender = "m" ){
       greeting = result_m;
    } else {
      greeting = result_f;
    }
    document.getElementById("demo").innerHTML = greeting;
 
 
  }
  </script>
-->
</ion-content>
  

 

